/* color variables */
:root {
    --deep-sea: #11313c;
    --medium-sea: #22516b;
    --light-steel: #daeaed;
    --steel: #c0d3d6;
    --dark-steel: #a8babd;
    --leaf-green: #5db43f;
    --soft-mint: #e8ffe0;
}


/* basic settings*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: linear-gradient(90deg, white, var(--soft-mint), white);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    color: var(--deep-sea);
}

h2 {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    color: var(--deep-sea);
    margin-top: 20px;
    margin-bottom: 10px;
}

h3 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: var(--deep-sea);
    margin-top: 20px;
    margin-bottom: 10px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

hr {
  border: 1px solid var(--medium-sea);
  margin-bottom: 5px;
  width: 100%
}

footer {
    background-color: var(--deep-sea);
    color: var(--steel);
    text-align: center;
    padding: 10px;
    margin-top: auto;
}


/* buttons*/
button {
    background-color: var(--deep-sea);
    border: none;
    border-radius: 12px;
    padding: 5px 10px;
    text-align: center:
    display: inline-block;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

button.big {
    font-size: 24px;
    padding: 10px 20px;
    margin-top: 5px;
}

button.green {
    color: var(--deep-sea);
    background-color: var(--leaf-green);
}

a.no-underline {
    text-decoration: none;
}


/* pagination */
.pagination {
    text-align: center;
}

.pagination ul > li
{
    display:inline-block;
    padding:0px 10px;
}

.pagination a {
    color: var(--deep-sea);
    font-weight: bold;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color .3s;
}

.pagination a.active {
    color: white;
    background-color: var(--deep-sea);
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: var(--steel);
}


/* styled table */
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 100%;
    min-width: 400px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: var(--deep-sea);
    color: white;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid var(--medium-sea);
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: var(--soft-mint);
}

.styled-table tbody tr:nth-of-type(odd) {
    background-color: var(--steel);
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid var(--deep-sea);
}


/* top bar */
.top-bar {
    background-color: var(--deep-sea);
    text-align: right;
    padding: 5px;
}

.top-bar a{
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-align: right;
}


/* menu */
.logo-menu {
    text-align: center;
    background: linear-gradient(90deg, white, var(--steel), white);
}

.logo-menu a {
    text-decoration: none;
}

.logo-menu img {
    display: block;
    margin: 0 auto;
}

.logo-menu h1 {
    padding-bottom: 20px;
}

.logo-menu nav ul {
    list-style: none;
    background-color: var(--deep-sea);
    padding: 5px;
}

.logo-menu nav ul li {
    display: inline-block;
    margin-left: 40px;
    margin-right: 40px;
}

.logo-menu nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 36px;
    font-weight: bold;
}


/* tiles */
.account-tiles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.tile {
    background-color: var(--steel);

    text-align: center;
    text-decoration: none;
    color: var(--deep-sea);
    border: 16px solid var(--deep-sea);
}

.tile img {
    max-width: 100%;
}

.tile h2 {
    font-size: 28px;
    padding: 5px 20px;
}

.tile p {
    font-size: 16px;
    padding: 20px;
}

.tile hr {
    margin-left: 10%;
    margin-right: 10%;
    border: 1px solid var(--deep-sea);
    width: 80%;
}


/* offer */
.offer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    margin: 0 auto;
}

.offer p {
    margin: 20px;
    font-size: 26px;
    font-weight: bold;
    color: var(--deep-sea);
}

.offer .description {
    display: flex;
    align-items: center;
    margin: 20px;
}


/* forms */
.form {
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.form.slim {
    max-width: 400px;
}

.form.container {
  padding: 16px;
}

.form input[type=text],
.form input[type=password],
.form input[type=number],
.form select {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: var(--light-steel);
  color: var(--deep-sea);
}

.form input[type=text]:focus,
.form input[type=password]:focus,
.form input[type=number]:focus,
.form select:focus {
  background-color: var(--steel);
  outline: none;
}

.form select {
    font-weight: bold;
}

.form label {
    font-size: 20px;
    font-weight: bold;
    color: var(--deep-sea);
}

.form hr.margin {
  margin-bottom: 25px;
}

.form a {
  color: var(--medium-sea);
}

.form button {
    margin-top: 20px;
    margin-bottom: 10px;
}

.form .currency-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

.form .currency {
    position: absolute;
    right: 35px;
    top: 40%;
    transform: translateY(-50%);
    color: var(--dark-steel);
    font-weight: bold;
}
