<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: head">
    <title th:text="${title}">Confirmation</title>
</head>
<body>

<!-- Top bar and menu -->
<div th:include="common :: top-bar"></div>
<div th:include="common :: menu"></div>

<!-- Confirmation -->
<div class="offer">
    <h1><span th:text="${title}">Default Title</span></h1>
        <img src="/img/big_bank.png" alt="Bank Image" width="256" height="256">
        <p><span th:text="${description}">Default description</span></p>
    <button onclick="location.href = '/home';" class="big">Home</button>
    <br><br>
</div>

</body>
<footer>
    <div th:include="common :: footer"></div>
</footer>
</html>