<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to SpringBank</title>
  <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>

<body>
<div class="top-bar">
  <div sec:authorize="!isAuthenticated()">
    <p>
      <a href="/login">Log In</a>
      or
      <a href="/register">(Register)</a>
    </p>
  </div>

  <div sec:authorize="isAuthenticated()">
    <p>
      Welcome, <span th:text="${#authentication.name}"></span>!
      <a href="/logout">(Log Out)</a>
    </p>
  </div>
</div>

<div class="flag-background center-content">
  <h1>Welcome to SpringBank</h1>
  <img src="/img/SpringBankLogo.png" width="256" height="256">
</div>

<div class="menu">
  <img src="/img/SpringBankLogo.png" width="128" height="128">
  <p class="logo">SpringBank</p>
</div>

</body>
</html>
