<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common :: head}">
    <title>Login</title>
</head>
<body>

<!-- Top bar and menu -->
<div th:replace="~{common :: top-bar}"></div>
<div th:replace="~{common :: menu}"></div>

<!-- Login form -->
<div class="form slim">
    <h2>Login</h2>
    <hr>
    <form th:action="@{/login}" method="post">
        <label for="username">Username: </label>
        <input type="text" id="username" name="username"/><br>

        <label for="password">Password: </label>
        <input type="password" id="password" name="password"/><br>

        <div th:if="${param.error}" class="alert error">Invalid username or password</div>

        <div class="center">
            <button type="submit" class="big green">Log in</button>
        </div>
        <div class="container center">
            <p>Don't have an account yet? <a href="/register">Register</a>.</p>
        </div><br>
    </form>
</div>
</body>
<footer>
    <div th:replace="~{common :: footer}"></div>
</footer>
</html>