<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common :: head}">
    <title>Logout</title>
</head>
<body>

<!-- Top bar and menu -->
<div th:replace="~{common :: top-bar}"></div>
<div th:replace="~{common :: menu}"></div>

<!-- Confirmation -->
<div class="form slim">
    <h2>Log out</h2>
    <hr>
    <h3>Are you sure you want to log out?</h3>
    <form class="center" th:action="@{/logout}" method="post">
        <button type="submit" class="big">Log out</button>
    </form>
</div>
</body>
<footer>
    <div th:replace="~{common :: footer}"></div>
</footer>
</html>