<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common :: head}">
  <title th:text="${title}">Offer</title>
</head>
<body>

<!-- Top bar and menu -->
<div th:replace="~{common :: top-bar}"></div>
<div th:replace="~{common :: menu}"></div>

<!-- Offer -->
<div class="display">
  <h2><span th:text="${title}">Default Title</span></h2>
  <hr>
  <div class="description">
    <img th:src="@{/img/{image}(image=${image})}" alt="Offer Image" width="256" height="256">
    <p><span th:text="${description}">Default description</span></p>
  </div>
  <button onclick="location.href = '/not-implemented';" class="big green">Open account</button>
</div>

</body>
<footer>
  <div th:replace="~{common :: footer}"></div>
</footer>
</html>