<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common :: head}">
    <title th:text="${title}">Confirmation</title>
</head>
<body>

<!-- Top bar and menu -->
<div th:replace="~{common :: top-bar}"></div>
<div th:replace="~{common :: menu}"></div>

<!-- Confirmation -->
<div class="display">
    <h2><span th:text="${title}">Default Title</span></h2>
    <hr>
    <img src="/img/big_bank.png" alt="Bank Image" width="256" height="256">
    <p><span th:text="${description}">Default description</span></p>
    <button onclick="location.href = '/home';" class="big">Home</button>
    <br><br>
</div>

</body>
<footer>
    <div th:replace="~{common :: footer}"></div>
</footer>
</html>