<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="shortcut icon" type="image/x-icon" href="img/logo.png" />
</head>
<body>
<h2>Register</h2>
<form action="#" th:action="@{/register}" method="post">
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username" required><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password" required><br>
    <input type="submit" value="Register">
</form>
</body>
</html>