<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="common :: head">
    <title>Transfer</title>
</head>
<body>

<!-- Top bar and menu -->
<div th:include="common :: top-bar"></div>
<div th:include="common :: menu"></div>

<!-- Transfer -->
<div class="transfer">
    <h2>Transfer funds</h2>
    <form action="#" th:action="@{/transfer}" method="post">
        <label for="fromAccount">From Account:</label>
        <select id="fromAccount" name="fromAccount" required>
            <option th:each="account : ${accountOptions}" th:value="${account.number}">
                <th:block th:each="type : ${accountTypes}">
                    <th:block th:if="${type.id == account.accountType}" th:text="${type.name}"></th:block>
                </th:block>
            </option>
        </select><br>
        <label for="toAccount">To Account:</label><br>
        <input type="text" id="toAccount" name="toAccount" required><br>
        <label for="amount">Amount:</label><br>
        <input type="number" id="amount" name="amount" step="0.01" required> PLN<br>
        <input type="submit" value="Transfer">
    </form>
</div>

</body>
<footer>
    <div th:include="common :: footer"></div>
</footer>
</html>