<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common :: head}">
    <title>Transfer</title>
</head>
<body>

<!-- Top bar and menu -->
<div th:replace="~{common :: top-bar}"></div>
<div th:replace="~{common :: menu}"></div>

<!-- Transfer form -->
<div class="form slim">
    <h2>Transfer funds</h2>
    <hr class="margin">
    <form action="#" th:action="@{/transfer}" method="post">
        <label for="fromAccount">From Account:</label>
        <select id="fromAccount" name="fromAccount" required>
            <option th:each="account : ${accountOptions}" th:value="${account.number}">
                <th:block th:each="type : ${accountTypes}">
                    <th:block th:if="${type.id == account.accountType}" th:text="${type.name}"></th:block>
                </th:block>
            </option>
        </select><br>

        <label for="toAccount">To Account:</label><br>
        <input type="text" id="toAccount" name="toAccount" required><br>

        <label for="amount">Amount:</label><br>
        <div class="currency-container">
            <input type="number" id="amount" name="amount" step="0.01" required>
            <span class="currency">PLN</span>
        </div>

        <div class="center">
            <button type="submit" class="big">Transfer</button>
        </div>
    </form>
</div>

<!-- Script to show currency properly -->
<script src="/js/currency.js"></script>

</body>
<footer>
    <div th:replace="~{common :: footer}"></div>
</footer>
</html>